extends layout

block content
  main
    h1= title
    ul.keys
      li(data-key="65" tabindex="1").key
        kbd A 
        audio(data-key='65' src='sounds/clap.mp3' controls='controls')
        span.sound clap
      li(data-key="83" tabindex="2").key
        kbd S 
        audio(data-key='83' src='sounds/hihat.mp3' controls='controls')
        span.sound hihat
      li(data-key="68" tabindex="3").key
        kbd D 
        audio(data-key='68' src='sounds/kick.mp3' controls='controls')
        span.sound kick
      li(data-key="70" tabindex="4").key
        kbd F 
        audio(data-key='70' src='sounds/openhat.mp3' controls='controls')
        span.sound openhat
      li(data-key="71" tabindex="5").key
        kbd G 
        audio(data-key='71' src='sounds/boom.mp3' controls='controls')
        span.sound kick
      li(data-key="72" tabindex="6").key
        kbd H 
        audio(data-key='72' src='sounds/ride.mp3' controls='controls')
        span.sound ride
      li(data-key="74" tabindex="7").key
        kbd J 
        audio(data-key='74' src='sounds/snare.mp3' controls='controls')
        span.sound snare
      li(data-key="75" tabindex="8").key
        kbd K 
        audio(data-key='75' src='sounds/tom.mp3' controls='controls')
        span.sound tom
      li(data-key="76" tabindex="9").key
        kbd L 
        audio(data-key='76' src='sounds/tink.mp3' controls='controls')
        span.sound tink
      li(data-key="81" tabindex="10").key
        kbd Q 
        audio(data-key='81' src='sounds/airhorn.mp3' controls='controls')
        span.sound Airhorn     
    
  script(src='js/script.js')
